@import 'config';
@import 'background';
@import 'article';
// @import 'responsive';

$FooterSize: 30px;

html,
body {
  height: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

#wrap {
  height: 100%;
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding-bottom: $FooterSize;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  margin-top: -$FooterSize;
  height: $FooterSize;
  clear: both;
}
