@import 'config';
@import '_background';
@import 'container';
@import 'responsive';

$FooterSize: 30px;

html,
body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

#wrap {
  height: 100%;
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding-bottom: $FooterSize;
  display: flex;
  justify-content: center;
  color: white;
}

footer {
  position: relative;
  margin-top: -$FooterSize;
  height: $FooterSize;
  clear: both;
  color: white;
}
